.container {
  display: grid;
  gap: 9px;
  width: 748px;
  height: 748px;
  background-color: #000;
  grid-template-columns: 320px 198px 153px 50px;
  grid-template-rows: 414px 130px 155px 20px;
}

.beige {
  background-color: #f0f1ec;
}

#red {
  background-color: #e72f24;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#blue {
  background-color: #004592;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  border-bottom: 10px solid black;
}

#yellow {
  background-color: #f9d01e;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

#black {
  background-color: #232629;
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

#beige1 {
  grid-row: 1 / 2;
  grid-column: 2 / 5;
}

#beige2 {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

#beige3 {
  grid-row: 2 / 4;
  grid-column: 2 / 4;
}

#beige4 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

#beige5 {
  grid-row: 3 / 5;
  grid-column: 4 / 5;
}
